$primary-color: #444;
$secondary-color: #ffff;

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: $secondary-color;
}
.nav-btns {
  list-style-type: none;
}

body {
  background: $primary-color;
  color: $secondary-color;
}

main {
  i {
    color: $secondary-color;
  }
}
