@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;1,300;1,400&display=swap');


$primary-color: #444;
$secondary-color: #ffff;
$tertiary-color: #ac6850;
$hover-color: #d69f8b;
* {
  box-sizing: border-box;
  text-decoration: none;
}

@mixin hover($color) {
  &:hover {
    color: $color;
    transition: all 0.5s ease-in-out;
    transform: scale(1.2);
  }
}
  


a,li , i{
  color: $secondary-color;
  text-decoration: none;
  list-style: none;
  font-size: 1.2em;
}

.container {
  //background-image: url("../images/IMG-20210515-WA0007_1.jpg");
   background-size: cover;
  // background-position: center ;
  // background-repeat: no-repeat;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background: $primary-color;
  color: $secondary-color;
  // font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-family: 'Fira Sans', sans-serif;
  width: 95%;
  //z-index: 2;
}

.inner-header {
  //padding: 0.6em;
  margin: 8px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 95% auto ;
  background: #3d3837;
  max-height: 110px;
  border-radius: 5px;
  .nav-logo {
    float: right;
    padding: 0 1.3em;
    align-self: center;
    a{
      padding: 15px;
      height: 1px;
      h1{
        text-transform: uppercase;
        font-size: 1.9em;
        font-weight: bold;
        
      }
    }
  }

  .nav-btns {
      padding: 12px;
      width: 520px;
      color: $secondary-color;
      background-color:$tertiary-color;
      font-size: 1.2em;
      border: none;
      border-radius: 5px;
    
      
      
    .nav-btn {
      display: inline-block;
      margin: 0.5em;
      font-size: 20px;
      padding: 0.5rem;
      width: wrap-content;
      text-transform: uppercase;
      text-align: center;
    }
    .nav-btn:hover {
      transition: all 0.5s ease;
      background-color: $hover-color;
      transform: scale(1.2);
      color: $secondary-color;
      border-radius: 50px;
      
    }
  }
}

.showcase {
  margin-top: 12rem;
  width: 100%;
  text-align: center;
}
.showcase img {
  width: 240px;
  height: 240px;
 border-radius: 100px;
 box-shadow: 0 0 0.5rem 0.4rem $secondary-color;
}
.showcase-caption {

  width: 70% auto;
  display: block;
p{
  font-size: 1.2em;
  font-weight: bold;
  color: $secondary-color;
}
h1{
  font-size: 3em;
  font-weight: bold;
  padding: 0.5rem;
  margin: 3px;
}
h3{
  font-size: 1.5em;
  font-weight: bolder;
  padding: 0.5rem;
  margin: 4px;
}

}
.social{
 position: relative;
 margin-top: 20px;
 a{
  padding: 0.5rem;
  i{
    @include hover($hover-color);
    
  }
 }
}
  /*page titles*/
  .page-title{
    font-size: 3.5em;
    font-weight: bold;
    
  }
/*contact me page*/
.contact-me{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color:$secondary-color;
  border-radius: 10px;
  padding: 0.8rem;
  width: 80% auto;
  color:$primary-color;
  margin: 0 auto;
  .contact-cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    color: $primary-color;
    
      .cards{
        color: $secondary-color;
        background-color: $tertiary-color;
        height:  auto;
        align-self: center;
       h4, i{
         display: inline-block;
         width: auto;
         padding: 10px;
         align-items: center;
         text-align: center;
       }
       .email{
         @include hover(#4b4848);
       }
      }
  }
}
/*about me page*/
.about-me{
background-color:$secondary-color;
  border-radius: 10px;
  padding: 0.8rem;
  width: 80% ;
  color:$primary-color;
  margin: 0 auto;
  
.about-grid{
display: grid;
grid-template-columns:  2fr 1fr;
grid-gap: 1rem;
font-size: large;
  }
  .about-text{
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  }
  .about-text1{
    font-size: larger;
  }
  .about-text2{
    margin-top: 40px;
    h4 , p{
      margin: 3px;
    }
    
  }

  }


