$primary-color: #444;
$secondary-color: #ffff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
a {
  color: $secondary-color;
}
.nav-btns {
  list-style-type: none;
}

body {
  background: $primary-color;
  color: $secondary-color;
  nav {
  }
}

main {
  margin-top: 20rem;
  i {
    color: $secondary-color;
  }
}
